
.icon-chat:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-leaf:before { content: '\e803'; } /* '' */
.icon-hospital:before { content: '\e821'; } /* '' */